/* Fonts */
$recoletaBold: "RecoletaBold";
$recoletaSemiBold: "RecoletaSemiBold";
$recoletaMedium: "RecoletaMedium";
$recoletaRegular: "RecoletaRegular";
/* Recoleta */
@font-face {
	font-family: $recoletaBold;
	src: url("/assets/common/fonts/Recoleta/Recoleta-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaSemiBold;
	src: url("/assets/common/fonts/Recoleta/Recoleta-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaMedium;
	src: url("/assets/common/fonts/Recoleta/Recoleta-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaRegular;
	src: url("/assets/common/fonts/Recoleta/Recoleta-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
