.hero-banner {
  position: relative;
//   background-color: #ff7a00;
  padding: 0 0 180px;
  overflow: hidden;
  height: 770px;width: 100%;

  &__container {
    background-color: purple;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
     z-index: 2; 
     position: relative; 
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 40px;
   
  }

  &__title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
  }

  &__image {
    max-width: 555px;
    display: block;
    position: absolute;
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
  }

  &__wave {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    // height: 100lvh;
    svg{
        width: 100%;
        height: auto;
    }
  }
}
