@use "../abstracts/index" as *;
html {
	scroll-padding-top: var(--h-header);
	&.force-scroll {
		height: 120vh;
	}
	&.show-modal-overlay main::before {
		content: "";
		position: fixed;
		z-index: z("modal-overlay");
		inset-block-start: 0;
		inset-inline-start: 0;
		width: 100%;
		height: 100lvh;
		background-color: var(--c-modal-overlay);
	}
}

body.fix-body-scroll {
	position: fixed;
	inline-size: 100%;
	overflow-y: scroll;
}
html.freeze-scroll body {
	//height: 100dvh;
	// overflow: hidden;
}

sup {
	vertical-align: top;
	@include type-regular-12;
}

[hidden] {
	display: none !important;
}
*:focus {
	outline: none;
}
.using-keyboard *:focus-visible {
	outline: 1px solid white;
	outline-offset: 1px;
	box-shadow: inset 0 0 0 1px black;
}
.using-touch {
	* {
		-webkit-touch-callout: none; /* Disable touch callout (iOS) */
	}
	*:focus-visible {
		outline: none; //need to check how we can handle this. programmatically focused elements are showing an outline
		box-shadow: none;
	}
}
.disable-hover * {
	pointer-events: none;
}

/* Apply the selection style for modern browsers */
::selection {
	background-color: var(--c-primary-blue); /* Dark purple */
	color: var(--c-bg-white);
}

/* Apply the selection style for older WebKit browsers (Safari) */
::-moz-selection {
	background-color: var(--c-primary-blue); /* Dark purple */
	color: var(--c-bg-white);
}

/* Apply the selection style for Firefox */
::-webkit-selection {
	background-color: var(--c-primary-blue); /* Dark purple */
	color: var(--c-bg-white);
}

[no-pointer]{
	pointer-events: none;
}

[data-browser="firefox"] {
	.fix-body-scroll {
		.ui-header {
			position: fixed;
		}
		main {
			margin-top: var(--h-header);
		}
	}
}
