@font-face {
	font-family: "Sequel Sans";
	src: url("../assets/common/fonts/SequelSans-Regular-final.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}


html,
body,
input,
textarea,
select {
	font-family: "Sequel Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
