:root {
	--radius-0: 0px;
	--radius-1: 2px;
	--radius-2: 4px;
	--radius-3: 6px;
	--radius-4: 8px;
	--radius-5: 12px;
	--radius-6: 16px;
	--radius-7: 20px;
	--radius-8: 24px;
	--radius-9: 32px;
	--radius-10: 40px;
	--radius-11: 48px;
	--radius-12: 60px;
	--radius-13: 80px;
	--radius-14: 120px;
	--radius-1000: 1000px;
}
