:root {
	--size-0: 0px;
	--size-1: 2px;
	--size-2: 4px;
	--size-3: 6px;
	--size-4: 8px;
	--size-5: 12px;
	--size-6: 16px;
	--size-7: 20px;
	--size-8: 24px;
	--size-9: 32px;
	--size-10: 40px;
	--size-11: 48px;
	--size-12: 60px;
	--size-13: 80px;
	--size-14: 120px;
}
