@use "../typography/fontFaces" as *;

.site-header {
    // background-color: #FF6C37;
    padding: 16px 0;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 24px;

        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    &__menu-and-cart{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__logo img {
        height: 40px;
        display: block;
    }

    &__menu {
        display: flex;
        gap: 32px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__menu-item a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        font-family: $recoletaMedium;
        &:hover {
            opacity: 0.8;
        }
    }

    &__cart {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
}
