// Hero Group Motion
// @use "@motion-abstracts" as motion;
[data-motion="hero"] {
	//Skeleton loader for hero image wrapper
	&.ui-hero-teaser [data-hero-motion-element="image-wrapper"],
	&.ui-hero-teaser [data-hero-motion-element="video-wrapper"] {
		$background-gradient: linear-gradient(to right, rgba(250, 250, 247, 0) 20%, rgba(250, 250, 247, 0.5) 35%, rgba(250, 250, 247, 0.5) 40%, rgba(250, 250, 247, 0) 50%);
		background-size: 200% 100%;
		background-position: 100% 0;
		animation: skeleton-animation 2s infinite var(--emphasized);
	}
	//Motion generic to hero group motion elements
	$motion-elements-list: "title", "description", "action-link";
	@for $i from 1 through length($motion-elements-list) {
		$motion-element: nth($motion-elements-list, $i);
		$motion-delay: ($i - 1) * 75ms;
		[data-hero-motion-element="#{$motion-element}"] {
			animation-duration: var(--duration-500);
			animation-delay: $motion-delay;
			animation-fill-mode: backwards;
			animation-play-state: paused;
			animation-timing-function: var(--standard-decelerate);
			@include motion.css-keyframes__fade-in-move-in(30px);
		}
	}
	//Motion specific to the hero image
	[data-hero-motion-element="image"] {
		animation-fill-mode: backwards;
		animation-play-state: paused;
		animation-duration: var(--duration-500);
		animation-timing-function: var(--standard-decelerate);
		@include motion.css-keyframes__fade-in-scale-in(1.08);
	}

	[data-hero-motion-element="video"] {
		animation-fill-mode: backwards;
		animation-play-state: paused;
		animation-duration: var(--duration-500);
		animation-timing-function: var(--standard-decelerate);
		animation-name: css-keyframes__fade-in;
	}
	//On animate-in
	&.animate-in [data-hero-motion-element] {
		animation-play-state: running;
	}
}
