// Hero Group Motion
// @use "@abstracts" as *;
// @use "@motion-abstracts" as motion;
[data-motion="hero"] {
	//Skeleton loader for hero img wrapper
	&.ui-hero-teaser [data-hero-motion-element="img-wrapper"] {
		$background-gradient: linear-gradient(to right, rgba(250, 250, 247, 0) 20%, rgba(250, 250, 247, 0.5) 35%, rgba(250, 250, 247, 0.5) 40%, rgba(250, 250, 247, 0) 50%);
		background-size: 200% 100%;
		background-position: 100% 0;
		animation: skeleton-animation 2s infinite var(--emphasized);
	}
	&.ui-hero-teaser [data-hero-motion-element="video-wrapper"] {
		//only if the video poster hasn't loaded yet
		&:not(:has([data-hero-motion-element="video-poster"].is-loaded)) {
			$background-gradient: linear-gradient(to right, rgba(250, 250, 247, 0) 20%, rgba(250, 250, 247, 0.5) 35%, rgba(250, 250, 247, 0.5) 40%, rgba(250, 250, 247, 0) 50%);
			background-size: 200% 100%;
			background-position: 100% 0;
			animation: skeleton-animation 2s infinite var(--emphasized);
		}
	}
	//Motion generic to hero group motion elements
	$motion-elements-list: "title-bkp", "action-link";
	@for $i from 1 through length($motion-elements-list) {
		$motion-element: nth($motion-elements-list, $i);
		[data-hero-motion-element="#{$motion-element}"] {
			animation-duration: var(--duration-600);
			animation-fill-mode: backwards;
			animation-play-state: paused;
			animation-timing-function: var(--quad);
			@include motion.css-keyframes__fade-in-move-in(40px);
			@include media("<sm") {
				animation-duration: var(--duration-400);
				animation-timing-function: var(--quad);
			}
		}
	}
	[data-hero-motion-element="description"] {
		animation-duration: var(--duration-600);
		animation-fill-mode: backwards;
		animation-play-state: paused;
		animation-timing-function: var(--cubic);
		@include motion.css-keyframes__fade-in-move-in(40px);
		@include media("<sm") {
			animation-duration: var(--duration-400);
			animation-timing-function: var(--quad);
		}
	}
	//Motion specific to the hero img
	[data-hero-motion-element="img"] {
		animation-fill-mode: backwards;
		animation-play-state: paused;
		animation-duration: var(--duration-500);
		animation-timing-function: var(--standard-decelerate);
		@include motion.css-keyframes__fade-in-scale-in(1.08);
	}

	[data-hero-motion-element="video-poster"],
	[data-hero-motion-element="video"] {
		//the video and video poster should not fade in. it shoudl load instantly
	}
	//On animate-in
	&.animate-in [data-hero-motion-element] {
		animation-play-state: running;
	}
}
