name: Deploy Shopify Theme

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Shopify
        uses: shopify/theme-actions/deploy@v2
        with:
          shopify_flag_store: ${{ secrets.SHOPIFY_STORE }}
          shopify_cli_theme_token: ${{ secrets.SHOPIFY_PASSWORD }}
          theme_path: .